html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.alert {
  margin: 30px;
}

.home-img-thumbnail {
  height: 277px;
  width: 277px;

  .img-thumbnail {
    border: 0;
    border-radius: 0;
    height: 277px;
    object-fit: cover;
    object-position: top;
    padding: 0;
    width: 277px;
  }
}

.card {
  margin: 20px 0;

  .card-img-top {
    height: 380px;
  }
}
